<button type="button" name="facebook-newsfeed" class="btn btn-facebook social-feed" id="show-newsfeed">Show latest shares <%= icon("caret-down") %></button>

<button type="button" name="facebook-newsfeed" class="btn btn-facebook social-feed collapse" id="hide-newsfeed">Hide <%= icon("caret-up") %></button>
