<div class="statistics">
  <% if instagram.likes.count > 0 %>
    <%= instagram.likes.count %> <span class="instagram-blue"><%= icon("heart", class: "instagram-favorite") %></span>
  <% end %>
</div>
