---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/feed.json?access_token=2240370469.92f033e.64737687d75245e1945ac9c4c5b097e5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="2240370469.92f033e.64737687d75245e1945ac9c4c5b097e5"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4995'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/self\/feed?access_token=2240370469.92f033e.64737687d75245e1945ac9c4c5b097e5\u0026max_id=1096680206448390404_11830955","next_max_id":"1096680206448390404_11830955"},"meta":{"code":200},"data":[{"attribution":null,"tags":["1989tourarlington"],"type":"image","location":null,"comments":{"count":5954,"data":[{"created_time":"1445183248","text":"I
        DREW YOU, TAYLOR SWIFT","from":{"username":"art.by.jessica","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/s150x150\/12080695_882610098496606_740088185_a.jpg","id":"1530724056","full_name":"Active
        Artist"},"id":"1098599172091605188"},{"created_time":"1445183274","text":"Best
        concert ever\ud83d\ude0d\ud83d\ude0d\ud83d\ude0d\ud83d\udc9e\ud83d\udc9e","from":{"username":"brenna2345","profile_picture":"http:\/\/photos-a.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11820460_1686845181544720_462915343_a.jpg","id":"1497491576","full_name":"Brenna\ud83d\udc95"},"id":"1098599391319486697"},{"created_time":"1445183296","text":"@alyssafreakindelker","from":{"usern[...]
