
<!-- Section 1 -->
<section id="intro" data-speed="6" data-type="background">
  <%= render 'layouts/flash_messages' %>
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center" id="taglines-clients">
        <h1>Attract more <strong>clients.</strong></h1>
      </div>
      <div class="col-md-6 text-center" id="taglines-listings">
        <h1>Manage your <strong>listings.</strong></h1>
      </div>
      <div class="col-med-3 text-center" id="taglines-brand">
        <h1>Promote your <strong>brand.</strong></h1>
      </div>
      <p>All in one place.</p>
    </div>
  </div>
</section>
<!-- Section 2 -->
<section id="home" data-speed="4" data-type="background">
  <div class="row">
    <div class="col-md-3 text-right">
      <h3>Create and share content<br>on these channels.</h3>
    </div>
    <div class="col-md-6 text-center">
      <a class="btn btn-social-icon btn-lg btn-twitter">
        <i class="fa fa-twitter fa-5x"></i>
      </a>
      <a class="btn btn-social-icon btn-lg btn-facebook">
        <i class="fa fa-facebook fa-5x"></i>
      </a>
      <a class="btn btn-social-icon btn-lg btn-instagram">
        <i class="fa fa-instagram fa-5x"></i>
      </a>
      <a class="btn btn-social-icon btn-lg btn-linkedin">
        <i class="fa fa-linkedin fa-5x"></i>
      </a>
      <a class="btn btn-social-icon btn-lg btn-google">
        <i class="fa fa-google fa-5x"></i>
      </a>
    </div>
    <div class="col-md-3">
      <h3 class="pull-right">Don't just reach your followers. Grow your audience.</h3>
    </div>
  </div>
</section>
<!-- Section 3 -->
<section id="about" data-speed="2" data-type="background">
  <div class="container">
    This is the final section!
  </div>
</section>
