---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/1abc123/picture?access_token=abcdefg&appsecret_proof=fc231de742653d594cda154e9fb847f8bb0a1d90818999dcef9fe3a10b256806
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190,"fbtrace_id":"Em\/taSIlme3"}}'
  recorded_at: Sat, 26 Sep 2015 18:49:53 GMT
- request:
    method: put
    uri: https://minion-uploads-development.s3.amazonaws.com/uploads/facebook_share/photo/test.png
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - image/png
      X-Amz-Acl:
      - private
      X-Amz-Date:
      - 20150926T205550Z
      X-Amz-Content-Sha256:
      - STREAMING-AWS4-HMAC-SHA256-PAYLOAD
      X-Amz-Decoded-Content-Length:
      - '95'
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIIO3HZ276PIROUEA/20150926/us-east-1/s3/aws4_request,
        SignedHeaders=content-type;host;x-amz-acl;x-amz-content-sha256;x-amz-date;x-amz-decoded-content-length,
        Signature=98194056e7feea1e9a18fc3a7be62828e5abd1610227092481c497958698a87d
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Amz-Request-Id:
      - 2B7698FF7641BE6C
      Etag:
      - '"71a50dbba44c78128b221b7df7bb51f1"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 26 Sep 2015 20:55:51 GMT
- request:
    method: delete
    uri: https://minion-uploads-development.s3.amazonaws.com/uploads/facebook_share/photo/test.png
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20150926T205551Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIIO3HZ276PIROUEA/20150926/us-east-1/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=87bc928eb3f4c3faad351e77ebad158be58cb1c51c3f3fdf38bf3cff6f291362
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Amz-Request-Id:
      - 185F1E008A7884BD
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 26 Sep 2015 20:55:51 GMT
recorded_with: VCR 2.9.3
