---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me/feed?access_token=CAABZCqcXkxuUBANoMuv8J0uQIl5VQFMEEXkBZBZCHe64h1Vj0uaCjyTiAW7yUPQ71VltdBJoMzUiNFGgfWzYTjuuYCqNBh6dfqbqDucK7Yq4Ek1D3LLnZAR1kjb935V2pGcAVzcRBVNHaZAyZCYm4V3rloL9BCIVDKbdgAsd7ShBgaZAXtSGJNiJCoj4hp2gtwZD&appsecret_proof=a7608949d2c52935d2a0731f14b3b15b0efa86356d2e0e6b175387193cff4c37&fields=message,id,from,type,full_picture,link,created_time,updated_time,likes,comments%7Bfrom,%20created_time,%20message,%20likes%7D,attachments%7Bmedia,%20title,%20type,%20url%7D&limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"01744eea021bf576ab6f9dfe192e42c384ecca57"'
      Facebook-Api-Version:
      - v2.4
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"message":"moo2","id":"104124393281645_104127433281341","from":{"name":"Corey
        Psoinos","id":"104124393281645"},"type":"status","created_time":"2015-10-18T00:56:08+0000","updated_time":"2015-10-18T00:56:08+0000"},{"message":"moo","id":"104124393281645_104127393281345","from":{"name":"Corey
        Psoinos","id":"104124393281645"},"type":"status","created_time":"2015-10-18T00:55:56+0000","updated_time":"2015-10-18T00:55:56+0000"},{"id":"104124393281645_104127376614680","from":{"name":"Corey
        Psoinos","id":"104124393281645"},"type":"link","full_picture":"https:\/\/fbexternal-a.akamaihd.net\/safe_image.php?d=AQBXpF85mxkA7svh&url=http\u00253A\u00252F\u00252Fr.ddmcdn.com\u00252Fw_600\u00252Fs_f\u00252Fo_1\u00252Fcx_50\u00252Fcy_0\u00252Fcw_540\u00252Fch_360\u00252FAPL\u00252Fuploads\u00252F2014\u00252F07\u00252F1405106713345B029HH_12670801101197_Beagle.jpg","link":"http:\/\/r.ddmcdn.com\/w_600\/s_f\/o_1\/cx_50\/cy_0\/cw_540\/ch_360\/APL\/uploads\/2014\/07\/1405106713345B029HH_12670801101197_Beagle.jpg","created_time":"2015-10-18T00:55:48+0000","updated_time":"2015-10-18T00:55:48+0000","attachments":{"data":[{"media":{"image":{"height":400,"src":"https:\/\/fbexternal-a.akamaihd.net\/safe_image.php?d=AQDGLfMAT00w9sU1&w=720&h=720&url=http\u00253A\u00252F\u00252Fr.ddmcdn.com\u00252Fw_600\u00252Fs_f\u00252Fo_1\u00252Fcx_50\u00252Fcy_0\u00252Fcw_540\u00252Fch_360\u00252FAPL\u00252Fuploads\u00252F2014\u00252F07\u00252F1405106713345B029HH_12670801101197_Beagle.jpg&cfs=1","width":400}},"title":"r.ddmcdn.com","type":"image_share","url":"http:\/\/www.facebook.com\/l.php?u=http\u00253A\u00252F\u00252Fr.ddmcdn.com\u00252Fw_600\u00252Fs_f\u00252Fo_1\u00252Fcx_50\u00252Fcy_0\u00252Fcw_540\u00252Fch_360\u00252FAPL\u00252Fuploads\u00252F2014\u00252F07\u00252F1405106713345B029HH_12670801101197_Beagle.jpg&h=MAQHLzwGK&s=1&enc=AZPnvh2i8uwNwRIuja3DEYl-B3OaXeS4rf15bU-8vMOyq_2LwrVxxjFZTqBPJ78Ge6gjUcS44QmRlnQIB5XSK3Al7L5ayea3cRdZ_daYrbvgVA"}]}},{"id":"104124393281645_104127333281351","from":{"name":"Corey
        Psoinos","id":"1041243932816[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json?count=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="e0ac7696353a227ce6f689bd10544d42",
        oauth_signature="DHbhlunVrviyCes17iKsleO4X%2F4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1445130229", oauth_token="3578893755-If0SL1j4UJLuhpuDnuHWMc0rPBoNJVE2YsGWWwp",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 18 Oct 2015 01:03:50 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 1852c3a499c00525bb2fd9053688fad1
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1445131128'
      X-Response-Time:
      - '29'
      X-Transaction:
      - 185db5b9d7991d99
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Fri Oct 16 22:50:33 +0000 2015","id":655153885267496960,"id_str":"655153885267496960","text":"thomasfalcone''s
        photo on Instagram: https:\/\/t.co\/3fyirOM3ay http:\/\/t.co\/51RI6CGwUF","source":"\u003ca
        href=\"http:\/\/127.0.0.1\" rel=\"nofollow\"\u003entgrate\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3578893755,"id_str":"3578893755","name":"Corey
        Psoinos","screen_name":"corey_test","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1,"friends_count":1,"listed_count":2,"created_at":"Mon
        Sep 07 17:10:57 +0000 2015","favourites_count":6,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":63,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/3fyirOM3ay","expanded_url":"https:\/\/instagram.com\/p\/86k6yzSo1F\/","display_url":"instagram.com\/p\/86k6yzSo1F\/","indices":[36,59]}],"media":[{"id":655153885070409728,"id_str":"655153885070409728","indices":[60,82],"media_url":"http:\/\/pbs.twimg.com\/media\/CReS_MDWwAAEkON.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CReS_MDWwAAEkON.jpg","url":"http:\/\/t.co\/51RI6CGwUF","display_url":"pic.twitter.com\/51RI6CGwUF","expanded_url":"http:\/\/twitter.com\/corey_test\/status\/655153885267496960\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":425,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":750,"resize":"fit"},"large":{"w":640,"h":800,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":655153885070409728,"id_str":"655153885070409728","indices":[60,82],"media_url":"http:\/\/pbs.twimg.com\/media\/CReS_MDWwAAEkON.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CReS_MDWwAAEkON.jpg","url":"http:\/\/t.co\/51RI6CGwUF","display_url":"pic.twitter.com\/51RI6CGwUF","expanded_url":"http:\/\/twitter.com\/corey_test\/status\/655153885267496960\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":425,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":750,"resize":"fit"},"large":{"w":640,"h":800,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"},{"created_at":"Fri
        Oct 16 22:13:01 +0000 2015","id":655144440537993216,"id_str":"655144440537993216","text":"thewcommittee''s
        photo on Instagram: https:\/\/t.co\/sMyjDrWQ5b http:\/\/t.co\/aggtNpeWMP","source":"\u003ca
        href=\"http:\/\/127.0.0.1\" rel=\"nofollow\"\u003entgrate\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":n[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/feed.json?access_token=2240370469.92f033e.64737687d75245e1945ac9c4c5b097e5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="2240370469.92f033e.64737687d75245e1945ac9c4c5b097e5"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4998'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/self\/feed?access_token=2240370469.92f033e.64737687d75245e1945ac9c4c5b097e5\u0026max_id=1096593626626328328_25025320","next_max_id":"1096593626626328328_25025320"},"meta":{"code":200},"data":[{"attribution":null,"tags":[],"type":"image","location":null,"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1445127471","link":"https:\/\/instagram.com\/p\/89WJVzh1lY\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s320x320\/e35\/12093667_122074721482828_1842136844_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s150x150\/e35\/12093667_122074721482828_1842136844_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s640x640\/sh0.08\/e35\/12093667_122074721482828_1842136844_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1445127471","text":"Test
        test","from":{"username":"testacctntgrate","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/s150x150\/12081198_415612321971519_1327520224_a.jpg","id":"2240370469","full_name":"Test
        Name"},"id":"1098131286079789624"},"user_has_liked":false,"id":"1098131283059890520_2240370469","user":{"username":"testacctntgrate","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/s150x150\/12081198_415612321971519_1327520224_a.jpg","id":"2240370469","full_name":"Test
        Name"}},{"attribution":null,"tags":["thatsmyboy","hobbsthebeast","atleasthedidntpeeonit"],"type":"image","location":null,"comments":{"count":2003,"data":[{"created_time":"1445130191","text":"Hobbs
        smells what you''re cooking lol","f[...]
