---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me/feed?access_token=CAABZCqcXkxuUBANoMuv8J0uQIl5VQFMEEXkBZBZCHe64h1Vj0uaCjyTiAW7yUPQ71VltdBJoMzUiNFGgfWzYTjuuYCqNBh6dfqbqDucK7Yq4Ek1D3LLnZAR1kjb935V2pGcAVzcRBVNHaZAyZCYm4V3rloL9BCIVDKbdgAsd7ShBgaZAXtSGJNiJCoj4hp2gtwZD&appsecret_proof=a7608949d2c52935d2a0731f14b3b15b0efa86356d2e0e6b175387193cff4c37&fields=message,id,from,type,full_picture,link,created_time,updated_time,likes,comments%7Bfrom,%20created_time,%20message,%20likes%7D,attachments%7Bmedia,%20title,%20type,%20url%7D&limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"0e672e84d41d86d03e63195350c06d64bde27228"'
      Facebook-Api-Version:
      - v2.4
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"message":"moo2","id":"104124393281645_104127433281341","from":{"name":"Corey
        Psoinos","id":"104124393281645"},"type":"status","created_time":"2015-10-18T00:56:08+0000","updated_time":"2015-10-18T00:56:08+0000"},{"message":"moo","id":"104124393281645_104127393281345","from":{"name":"Corey
        Psoinos","id":"104124393281645"},"type":"status","created_time":"2015-10-18T00:55:56+0000","updated_time":"2015-10-18T00:55:56+0000"},{"id":"104124393281645_104127376614680","from":{"name":"Corey
        Psoinos","id":"104124393281645"},"type":"link","full_picture":"https:\/\/fbexternal-a.akamaihd.net\/safe_image.php?d=AQBXpF85mxkA7svh&url=http\u00253A\u00252F\u00252Fr.ddmcdn.com\u00252Fw_600\u00252Fs_f\u00252Fo_1\u00252Fcx_50\u00252Fcy_0\u00252Fcw_540\u00252Fch_360\u00252FAPL\u00252Fuploads\u00252F2014\u00252F07\u00252F1405106713345B029HH_12670801101197_Beagle.jpg","link":"http:\/\/r.ddmcdn.com\/w_600\/s_f\/o_1\/cx_50\/cy_0\/cw_540\/ch_360\/APL\/uploads\/2014\/07\/1405106713345B029HH_12670801101197_Beagle.jpg","created_time":"2015-10-18T00:55:48+0000","updated_time":"2015-10-18T00:55:48+0000","attachments":{"data":[{"media":{"image":{"height":400,"src":"https:\/\/fbexternal-a.akamaihd.net\/safe_image.php?d=AQDGLfMAT00w9sU1&w=720&h=720&url=http\u00253A\u00252F\u00252Fr.ddmcdn.com\u00252Fw_600\u00252Fs_f\u00252Fo_1\u00252Fcx_50\u00252Fcy_0\u00252Fcw_540\u00252Fch_360\u00252FAPL\u00252Fuploads\u00252F2014\u00252F07\u00252F1405106713345B029HH_12670801101197_Beagle.jpg&cfs=1","width":400}},"title":"r.ddmcdn.com","type":"image_share","url":"http:\/\/www.facebook.com\/l.php?u=http\u00253A\u00252F\u00252Fr.ddmcdn.com\u00252Fw_600\u00252Fs_f\u00252Fo_1\u00252Fcx_50\u00252Fcy_0\u00252Fcw_540\u00252Fch_360\u00252FAPL\u00252Fuploads\u00252F2014\u00252F07\u00252F1405106713345B029HH_12670801101197_Beagle.jpg&h=kAQF452kv&s=1&enc=AZOaB069sdBtY0UwxKVakUJ-0YKB85SOkp9S2JdDCLGGwMv8XA4Vlyhz1AU05ZUpLJbZUt_5MoheNHfBgJRjAY8rqhd_xfD4JwVy_hisnmzsKA"}]}},{"id":"104124393281645_104127333281351","from":{"name":"Corey
        Psoinos","id":"1041243932816[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json?count=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="3973ee02317fe013042ab762ad615ed7",
        oauth_signature="MfFz%2FliDrbIfOLYlH9k3R%2BIrr1w%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1445132887", oauth_token="3578893755-If0SL1j4UJLuhpuDnuHWMc0rPBoNJVE2YsGWWwp",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 18 Oct 2015 01:48:07 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - fd4ac838177556bfb4583d93fddb6ef7
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '11'
      X-Rate-Limit-Reset:
      - '1445133776'
      X-Response-Time:
      - '36'
      X-Transaction:
      - 660d64bb04da0dd7
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Sun Oct 18 01:47:04 +0000 2015","id":655560696256712705,"id_str":"655560696256712705","text":"$245
        for bottle of wine and $160 for lamb? The big boss of a firefighters'' union
        makes no apologies http:\/\/t.co\/rQzWRbn94z","source":"\u003ca href=\"http:\/\/www.socialflow.com\"
        rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":807095,"id_str":"807095","name":"The
        New York Times","screen_name":"nytimes","location":"New York City","description":"Where
        the conversation begins. Follow for breaking news, special reports, RTs of
        our journalists and more from http:\/\/t.co\/YapuoqX0HS","url":"http:\/\/t.co\/ahvuWqicF9","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/ahvuWqicF9","expanded_url":"http:\/\/www.nytimes.com\/","display_url":"nytimes.com","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/YapuoqX0HS","expanded_url":"http:\/\/NYTimes.com","display_url":"NYTimes.com","indices":[111,133]}]}},"protected":false,"followers_count":20480502,"friends_count":989,"listed_count":167518,"created_at":"Fri
        Mar 02 20:41:42 +0000 2007","favourites_count":7624,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":true,"statuses_count":203016,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"131516","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/736339684\/948f072cc2da4e3a5e9f2ebfb3b1a0e7.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/736339684\/948f072cc2da4e3a5e9f2ebfb3b1a0e7.png","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2044921128\/finals_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2044921128\/finals_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/807095\/1355346050","profile_link_color":"607696","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":10,"favorite_count":9,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/rQzWRbn94z","expanded_url":"http:\/\/nyti.ms\/1ROzqDC","display_url":"nyti.ms\/1ROzqDC","indices":[100,122]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"},{"created_at":"Sun
        Oct 18 01:47:01 +0000 2015","id":655560682277072896,"id_str":"655560682277072896","text":"Martin
        Luther King Jr. was put in jail 29 times.","source":"\u003ca href=\"http:\/\/bufferapp.com\"
        rel=\"nofollow\"\u003eBuffer\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":95023423,"id_str":"95[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/feed.json?access_token=2240370469.92f033e.64737687d75245e1945ac9c4c5b097e5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="2240370469.92f033e.64737687d75245e1945ac9c4c5b097e5"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4990'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/self\/feed?access_token=2240370469.92f033e.64737687d75245e1945ac9c4c5b097e5\u0026max_id=1096593626626328328_25025320","next_max_id":"1096593626626328328_25025320"},"meta":{"code":200},"data":[{"attribution":null,"tags":[],"type":"image","location":null,"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1445127471","link":"https:\/\/instagram.com\/p\/89WJVzh1lY\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s320x320\/e35\/12093667_122074721482828_1842136844_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s150x150\/e35\/12093667_122074721482828_1842136844_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s640x640\/sh0.08\/e35\/12093667_122074721482828_1842136844_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1445127471","text":"Test
        test","from":{"username":"testacctntgrate","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/s150x150\/12081198_415612321971519_1327520224_a.jpg","id":"2240370469","full_name":"Test
        Name"},"id":"1098131286079789624"},"user_has_liked":false,"id":"1098131283059890520_2240370469","user":{"username":"testacctntgrate","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/s150x150\/12081198_415612321971519_1327520224_a.jpg","id":"2240370469","full_name":"Test
        Name"}},{"attribution":null,"tags":["thatsmyboy","atleasthedidntpeeonem","hobbsthebeast"],"type":"image","location":null,"comments":{"count":2669,"data":[{"created_time":"1445132856","text":"Your
        cousin''s debut on #NXT was GREAT!!![...]
[...]
