---
http_interactions:
- request:
    method: post
    uri: https://mandrillapp.com/api/1.0/templates/render.json
    body:
      encoding: UTF-8
      string: '{"template_name":"welcome","template_content":[],"merge_vars":[{"name":"subject","content":"Email
        confirmation"},{"name":"to","content":[{"name":null,"email":"person7@example.com","type":"to"}]},{"name":"fname","content":"Shanie"},{"name":"confirmation_url","content":"http://<SMTP_DOMAIN>:3000/users/confirmation"},{"name":"reset_password_url","content":null}],"key":"<MANDRILL_TEST_API_KEY>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"html":"<!DOCTYPE html PUBLIC \"-\/\/W3C\/\/DTD XHTML 1.0 Strict\/\/EN\"
        \"http:\/\/www.w3.org\/TR\/xhtml1\/DTD\/xhtml1-strict.dtd\">\n<html xmlns=\"http:\/\/www.w3.org\/1999\/xhtml\">\n    <head>\n    \t<!--
        NAME: 1 COLUMN -->\n        <meta http-equiv=\"Content-Type\" content=\"text\/html;
        charset=UTF-8\">\n        <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1.0\">\n        <title>Email confirmation<\/title>\n        \n    <style
        type=\"text\/css\">\n\t\tbody,#bodyTable,#bodyCell{\n\t\t\theight:100% !important;\n\t\t\tmargin:0;\n\t\t\tpadding:0;\n\t\t\twidth:100%
        !important;\n\t\t}\n\t\ttable{\n\t\t\tborder-collapse:collapse;\n\t\t}\n\t\timg,a
        img{\n\t\t\tborder:0;\n\t\t\toutline:none;\n\t\t\ttext-decoration:none;\n\t\t}\n\t\th1,h2,h3,h4,h5,h6{\n\t\t\tmargin:0;\n\t\t\tpadding:0;\n\t\t}\n\t\tp{\n\t\t\tmargin:1em
        0;\n\t\t\tpadding:0;\n\t\t}\n[...]
