<%#= form_for @facebook_page do |f| %>

  <div class="field select-facebook-page">
    <%#= f.label :facebook_page %>
    <%#= select_tag(:facebook_page, options_for_select(@unauthenticated_facebook_pages)) %>
  </div>

<%# end %>
