---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/friendships/destroy.json
    body:
      encoding: UTF-8
      string: screen_name=Apple
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="0c693949b6939189be21b2cf66c95ae6",
        oauth_signature="2Th4lwon6v78WaYLNWFX9DCok0g%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1445136586", oauth_token="3578893755-If0SL1j4UJLuhpuDnuHWMc0rPBoNJVE2YsGWWwp",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 18 Oct 2015 02:49:46 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - c0bd576e2704e1d45054d3bec1994a1f
      X-Response-Time:
      - '60'
      X-Transaction:
      - d75456e45b813de6
      X-Tsa-Request-Body-Time:
      - '8'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":380749300,"id_str":"380749300","name":"@apple","screen_name":"Apple","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":35601,"friends_count":0,"listed_count":215,"created_at":"Tue
        Sep 27 05:02:03 +0000 2011","favourites_count":0,"utc_offset":-36000,"time_zone":"Hawaii","geo_enabled":false,"verified":false,"statuses_count":0,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":true,"follow_request_sent":false,"notifications":false,"muting":false}'
  recorded_at: Sun, 18 Oct 2015 02:49:46 GMT
- request:
    method: post
    uri: https://api.twitter.com/1.1/users/lookup.json
    body:
      encoding: UTF-8
      string: screen_name=Apple
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="f715c3f1ef7414b4a6aa6b058128753e",
        oauth_signature="Z0CyV4aPuoc6V8ztbJuJvBB2n5o%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1445137058", oauth_token="3578893755-If0SL1j4UJLuhpuDnuHWMc0rPBoNJVE2YsGWWwp",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 18 Oct 2015 02:57:38 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - e319552182ccf662e4a96dd1213d4e0f
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '171'
      X-Rate-Limit-Reset:
      - '1445137209'
      X-Response-Time:
      - '20'
      X-Transaction:
      - 6a89cef02681a062
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"id":380749300,"id_str":"380749300","name":"@apple","screen_name":"Apple","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":35600,"friends_count":0,"listed_count":215,"created_[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="794adfac134e12484d33ac36d67286e4",
        oauth_signature="iB2TtLJx%2BCNrjK3nRurkVn8Sajc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1445137058", oauth_token="3578893755-If0SL1j4UJLuhpuDnuHWMc0rPBoNJVE2YsGW[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/ids.json?cursor=-1&user_id=3578893755
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="038cf4f104667b5c056b34d4fadabec8",
        oauth_signature="SyNsSi8ZcBaQJ%2BJ023lK%2B49rLc4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1445137074", oauth_token="3578893755-If0SL1j4UJLuhpuDnuHWMc0rPBoNJVE2YsGWWwp",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 18 Oct 2015 02:57:54 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - eddd3661a7338f8d5ae7381db9154daa
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '6'
      X-Rate-Limit-Reset:
      - '1445137210'
      X-Response-Time:
      - '13'
      X-Transaction:
      - a52e647529061760
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"ids":[5402612,2467791,3108351,807095,85452649,352145373,77888423,95023423,20536157,31311757,428333,759251,203680448],"next_cursor":0,"next_cursor_str":"0","previous_cursor":0,"previous_cursor_str":"0"}'
  recorded_at: Sun, 18 Oct 2015 02:57:54 GMT
[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/friendships/create.json
    body:
      encoding: UTF-8
      string: user_id=380749300
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="c8a88627be234909790732701bdfc99b",
        oauth_signature="mjyj4dtLUjYm4OzgASQlRKI8eLM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1445138425", oauth_token="3578893755-If0SL1j4UJLuhpuDnuHWMc0rPBoNJVE2YsGWWwp",
        [...]
