---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=1513121179605895600&screen_name=CoreyPsoinos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="afde6c028ef4e49d082626cdf857c860",
        oauth_signature="3OuB2fOi71tEOqEsoRn4fA6KsvY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1445137598", oauth_token="3578893755-If0SL1j4UJLuhpuDnuHWMc0rPBoNJVE2YsGWWwp",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 18 Oct 2015 03:06:39 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - afcffd0b9b33be9f69d7eba2ac40cda1
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1445138249'
      X-Response-Time:
      - '82'
      X-Transaction:
      - d5f8aa2167a57594
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":14562941,"id_str":"14562941","name":"Liz M","screen_name":"lizmorr","location":"Boston","description":"Love
        music, food, running, and mountains. So does everyone...","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":42,"friends_count":176,"listed_count":3,"created_at":"Sun
        Apr 27 23:41:08 +0000 2008","favourites_count":33,"utc_offset":-18000,"time_zone":"Quito","geo_enabled":true,"verified":false,"statuses_count":712,"lang":"en","status":{"created_at":"Fri
        Aug 28 16:44:21 +0000 2015","id":637304724648239104,"id_str":"637304724648239104","text":"Our
        pics from @KellyBenvenuto are up! So excited. She was so great :) http:\/\/t.co\/M2QOXljsXH","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"KellyBenvenuto","name":"Kelly
        Benvenuto","id":473475160,"id_str":"473475160","indices":[14,29]}],"urls":[{"url":"http:\/\/t.co\/M2QOXljsXH","expanded_url":"http:\/\/www.kellybenvenuto.com\/codman-estate-wedding-alexis-liz\/","display_url":"kellybenvenuto.com\/codman-estate-\u2026","indices":[70,92]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"8B542B","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme8\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme8\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/3775653278\/319fdb0280c1501ae97cfec26e2b98c5_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/3775653278\/319fdb0280c1501ae97cfec26e2b98c5_normal.jpeg","profile_link_color":"9D582E","profile_sidebar_border_color":"D9B17E","profile_sidebar_fill_color":"EADEAA","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false},{"id":111699642,"id_str":"111699642","name":"Network
        Group","screen_name":"nbgltd","location":"United Kingdom","description":"http:\/\/t.co\/5Eg2of3zck
        The UK''s leading technology community for IT resellers and retailers.","url":"http:\/\/t.co\/gU40Jp72EV","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/gU40Jp72EV","expanded_url":"http:\/\/www.nbg.co.uk","display_url":"nbg.co.uk","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/5Eg2of3zck","expanded_url[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=1370801949468493251&screen_name=CoreyPsoinos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="686cae9d9e19f343e1e9f9ad05921b5e",
        oauth_signature="7NIddqVpaTfg4fmBOml3GLqo6Ak%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1445137605", oauth_token="3578893755-If0SL1j4UJLuhpuDnuHWMc0rPBoNJVE2YsGWWwp",
        oauth_version="1.0"
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Connection-Hash:
      - aae0832fb83baa78b260e56af089da03
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '0'
      X-Rate-Limit-Reset:
      - '1445138249'
      X-Response-Time:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"Rate limit exceeded","code":88}]}'
  recorded_at: Sun, 18 Oct 2015 03:06:45 GMT
[...]
