---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=CoreyPsoinos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="21047dadc907b0ba2e4a0d87c6b6020c",
        oauth_signature="oz2NUBZR0lxvwblDsMB1xpczVG4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1445138427", oauth_token="3578893755-If0SL1j4UJLuhpuDnuHWMc0rPBoNJVE2YsGWWwp",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 18 Oct 2015 03:20:27 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 5e08e3c733ae5a18bfc67eee409ba85b
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1445139324'
      X-Response-Time:
      - '96'
      X-Transaction:
      - 38991d4745e80637
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Fri Oct 16 12:02:36 +0000 2015","id":654990824112062464,"id_str":"654990824112062464","text":"RT
        @nextgreencar: Rough calculations show that real-world range of new Leaf 30kWh
        is well over 130 miles - few EVs can match that http:\/\/t.\u2026","source":"\u003ca
        href=\"http:\/\/127.0.0.1\" rel=\"nofollow\"\u003entgrate\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":203680448,"id_str":"203680448","name":"Corey
        Psoinos","screen_name":"CoreyPsoinos","location":"Cambridge, MA","description":"Ruby
        on Rails developer, LGBTQ advocate, techie, craft beer and wine lover.\n\nJunior
        Web Developer @Promoboxx","url":"https:\/\/t.co\/n12fkOU7zy","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/n12fkOU7zy","expanded_url":"https:\/\/www.linkedin.com\/in\/cpsoinos","display_url":"linkedin.com\/in\/cpsoinos","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":358,"friends_count":989,"listed_count":16,"created_at":"Sat
        Oct 16 21:17:04 +0000 2010","favourites_count":55,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":1607,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme2\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme2\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/655551350319788032\/7J2GZqfP_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/655551350319788032\/7J2GZqfP_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/203680448\/1421935829","profile_link_color":"9266CC","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Fri
        Oct 16 12:01:29 +0000 2015","id":654990545245347840,"id_str":"654990545245347840","text":"Rough
        calculations show that real-world range of new Leaf 30kWh is well over 130
        miles - few EVs can match that http:\/\/t.co\/etp6Wy4nCj","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply[...]
