---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=10&user_id=3578893755
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="d005214acfab03f0f72520f44368137a",
        oauth_signature="fWoWXLMXJPoxR2Pl%2BhXmGC6wH0o%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1445138423", oauth_token="3578893755-If0SL1j4UJLuhpuDnuHWMc0rPBoNJVE2YsGWWwp",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 18 Oct 2015 03:20:24 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 94a94756a3cc90d399aed1ca4077dbe7
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1445139324'
      X-Response-Time:
      - '36'
      X-Transaction:
      - 1e3e69f66f921f2b
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Fri Oct 16 22:50:33 +0000 2015","id":655153885267496960,"id_str":"655153885267496960","text":"thomasfalcone''s
        photo on Instagram: https:\/\/t.co\/3fyirOM3ay http:\/\/t.co\/51RI6CGwUF","source":"\u003ca
        href=\"http:\/\/127.0.0.1\" rel=\"nofollow\"\u003entgrate\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3578893755,"id_str":"3578893755","name":"Corey
        Psoinos","screen_name":"corey_test","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":2,"friends_count":13,"listed_count":2,"created_at":"Mon
        Sep 07 17:10:57 +0000 2015","favourites_count":6,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":63,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/3fyirOM3ay","expanded_url":"https:\/\/instagram.com\/p\/86k6yzSo1F\/","display_url":"instagram.com\/p\/86k6yzSo1F\/","indices":[36,59]}],"media":[{"id":655153885070409728,"id_str":"655153885070409728","indices":[60,82],"media_url":"http:\/\/pbs.twimg.com\/media\/CReS_MDWwAAEkON.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CReS_MDWwAAEkON.jpg","url":"http:\/\/t.co\/51RI6CGwUF","display_url":"pic.twitter.com\/51RI6CGwUF","expanded_url":"http:\/\/twitter.com\/corey_test\/status\/655153885267496960\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":425,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":750,"resize":"fit"},"large":{"w":640,"h":800,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":655153885070409728,"id_str":"655153885070409728","indices":[60,82],"media_url":"http:\/\/pbs.twimg.com\/media\/CReS_MDWwAAEkON.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CReS_MDWwAAEkON.jpg","url":"http:\/\/t.co\/51RI6CGwUF","display_url":"pic.twitter.com\/51RI6CGwUF","expanded_url":"http:\/\/twitter.com\/corey_test\/status\/655153885267496960\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":425,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":750,"resize":"fit"},"large":{"w":640,"h":800,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Fri
        Oct 16 22:13:01 +0000 2015","id":655144440537993216,"id_str":"655144440537993216","text":"thewcommittee''s
        photo on Instagram: https:\/\/t.co\/sMyjDrWQ5b http:\/\/t.co\/aggtNpeWMP","source":"\u003ca
        href=\"http:\/\/127.0.0.1\" rel=\"nofollow\"\u003entgrate\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":n[...]
