---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json?count=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="051ed02098446a4cd15095e1cac80bb0",
        oauth_signature="U9pL2ShMxLksCXyHsXhaQxF1RnA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1445138424", oauth_token="3578893755-If0SL1j4UJLuhpuDnuHWMc0rPBoNJVE2YsGWWwp",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 18 Oct 2015 03:20:24 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - cdd179cde62ad0ab4f224f143940c4ea
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1445139324'
      X-Response-Time:
      - '34'
      X-Transaction:
      - bfe2065d948522fc
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Sun Oct 18 03:17:11 +0000 2015","id":655583375382704128,"id_str":"655583375382704128","text":"If
        you shoot a space alien, cook it, and eat it, there are no laws determining
        whether that would be hunting or murder.","source":"\u003ca href=\"http:\/\/bufferapp.com\"
        rel=\"nofollow\"\u003eBuffer\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":95023423,"id_str":"95023423","name":"UberFacts","screen_name":"UberFacts","location":"Worldwide!
        ","description":"The most unimportant things you''ll never need to know.","url":"https:\/\/t.co\/mUaeeRRykz","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/mUaeeRRykz","expanded_url":"https:\/\/www.facebook.com\/UberFacts","display_url":"facebook.com\/UberFacts","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":11994102,"friends_count":1,"listed_count":17415,"created_at":"Sun
        Dec 06 16:07:01 +0000 2009","favourites_count":1092,"utc_offset":-18000,"time_zone":"Central
        Time (US & Canada)","geo_enabled":false,"verified":true,"statuses_count":99708,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/458303470945058816\/1IXg4LCd.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/458303470945058816\/1IXg4LCd.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/615696617165885440\/JDbUuo9H_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/615696617165885440\/JDbUuo9H_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/95023423\/1419290964","profile_link_color":"0D9BA8","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"FFFFFF","profile_text_color":"000000","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":166,"favorite_count":227,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Sun
        Oct 18 03:11:18 +0000 2015","id":655581893379936257,"id_str":"655581893379936257","text":"Why
        tipping is wrong http:\/\/t.co\/NbBQevJnl4 via @nytopinion","source":"\u003ca
        href=\"http:\/\/www.socialflow.com\" rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id[...]
