---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/show/655059941028438017.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="ff86d36edc4b3064b5b4935ecfe5b97f",
        oauth_signature="1OrDkKOAekSCM8%2FbeqDseWqMfxc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1445138428", oauth_token="3578893755-If0SL1j4UJLuhpuDnuHWMc0rPBoNJVE2YsGWWwp",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 18 Oct 2015 03:20:28 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - ae051781f4bb406e107048f56266d47e
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1445139328'
      X-Response-Time:
      - '24'
      X-Transaction:
      - ce6433095b14b3ef
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Fri Oct 16 16:37:15 +0000 2015","id":655059941028438017,"id_str":"655059941028438017","text":"Congratulations
        to @janetcomenos for her Rev Boston recognition as one of the top 20 women
        in tech you need to know! http:\/\/t.co\/RrRbt048wu","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":191046206,"id_str":"191046206","name":"Promoboxx","screen_name":"Promoboxx","location":"Boston,
        MA","description":"Digital Retail Marketing Platform that makes it incredibly
        easy for manufacturing brands to promote co-branded digital campaigns with
        local retailers.","url":"http:\/\/t.co\/UajhLxqZgc","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/UajhLxqZgc","expanded_url":"http:\/\/www.promoboxx.com","display_url":"promoboxx.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1729,"friends_count":1930,"listed_count":75,"created_at":"Wed
        Sep 15 13:49:05 +0000 2010","favourites_count":131,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":1807,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/491415327\/pboxx-twitter-bkg-2012.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/491415327\/pboxx-twitter-bkg-2012.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/476385239963402241\/WWbh6eZ-_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/476385239963402241\/WWbh6eZ-_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/191046206\/1442441673","profile_link_color":"58BAC7","profile_sidebar_border_color":"DDEEF6","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"4C4D4F","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":2,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"janetcomenos","name":"Janet
        Comenos","id":264867500,"id_str":"264867500","indices":[19,32]}],"urls":[{"url":"http:\/\/t.co\/RrRbt048wu","expanded_url":"http:\/\/ow.ly\/TuzPR","display_url":"ow.ly\/TuzPR","indices":[117,139]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"}'
  recorded_at: Sun, 18 Oct 2015 03:20:28 GMT
recorded_with: VCR 2.9.3
