---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/friendships/destroy.json
    body:
      encoding: UTF-8
      string: screen_name=Apple
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="bf4a3c44f5848a265f44414188972125",
        oauth_signature="UWP5HVtZ1Hh%2BB%2BBQm0snJp%2BPcqs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1445138425", oauth_token="3578893755-If0SL1j4UJLuhpuDnuHWMc0rPBoNJVE2YsGWWwp",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 18 Oct 2015 03:20:26 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 024bf15675dd0205b5bc0b9a06d90085
      X-Response-Time:
      - '68'
      X-Transaction:
      - 4b1cb02b88a1e1dd
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":380749300,"id_str":"380749300","name":"@apple","screen_name":"Apple","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":35602,"friends_count":0,"listed_count":215,"created_at":"Tue
        Sep 27 05:02:03 +0000 2011","favourites_count":0,"utc_offset":-36000,"time_zone":"Hawaii","geo_enabled":false,"verified":false,"statuses_count":0,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":true,"follow_request_sent":false,"notifications":false,"muting":false}'
  recorded_at: Sun, 18 Oct 2015 03:20:26 GMT
recorded_with: VCR 2.9.3
