/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

.parallax-1 {
  background-size: cover;
  height: 60em;
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 0 auto;
}

.parallax-2 {
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 200px 0;
}

.parallax-3 {
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 100px 0;
  color: #fff;
}

div.well {
 background-color: rgba(245,245,245,0.75);
}

#flash-container {
  height: 5em;
  padding-top: 52px;
  text-align: center;
}

body > nav > div {
  background-color: rgba(35,119,186,0.5);

  div.navbar-header > a {
    color: white;

    &:hover {
      color: black;
    }
  }
}

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li > a {
  color: white;

  &:hover {
    color: black;
  }
}
