#intro-dashboards {
  background: asset-data-url("AdobeStock_51487213_WM.jpg") 50% 0 fixed;
  background-size: cover;
}

#home-dashboards {
  background: url(images/home.jpg) 50% 0 fixed;
}

#about-dashboards {
  background: url(images/about.png) 50% 0 fixed;
}

div.panel {
  background-color: rgba(0,0,0,0.0);

  div.panel-heading {
    background-color: rgba(0,0,0,0.0);
  }
}

.well-dashboard {
  height: 60em;
}
