@import "variables";

#intro-dashboards {
  background: asset-data-url("AdobeStock_51487213_WM.jpg") 50% 0 fixed;
  background-size: cover;
}

#js-flash {
  z-index: 1;
  position: absolute;
}

#home-dashboards {
  background: url(images/home.jpg) 50% 0 fixed;
}

#about-dashboards {
  background: url(images/about.png) 50% 0 fixed;
}

div.panel {
  background-color: rgba(0,0,0,0.0);

  div.panel-heading {
    background-color: rgba(0,0,0,0.0);
  }
}

.social-panel {
  min-height: 28.5em;
  position: relative;
}

.social-submit {
  position: absolute;
  right: 1em;
  bottom: 1em;
}

.social-feed {
  position: absolute;
  left: 1em;
  bottom: 1em;
}

.well-dashboard {
  overflow: auto;
}

#share-type {
  padding-bottom: 1em;
}

.facebook_link-share, .facebook_photo-share, .facebook_video-share, .twitter_link-share, .twitter_photo-share, .twitter_video-share {
  display: none;
}

.social-form {
  margin: 1em;
}

.dashboard-form {
  margin-bottom: 3em;
}

.share-input {
  width: 100%;
}

// #facebook-errors, #twitter-errors {
//   display: none;
// }

.minus {
  color: red;
}

.page-name {
  font-weight: bold;
}

.shared-at {
  color: #9197a3;
  font-size: 12px;
  margin-top: -1.5em;
}

.facebook-blue {
  color: $facebook-blue;
}

.twitter-blue {
  color: $twitter-blue;
}

.twitter-favorite {
  color: #ffac33;
}

.instagram-blue {
  color: $instagram-blue;
}

.feed {
  position: relative;
}

.media-with-statistics {
  margin-bottom: 2em;
}

.statistics {
  margin-top: 1em;
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-size: 12px;
}

.FollowButton {
  display: none;
}

.share-media {
  max-width: 448px;
}
