#intro-landing_pages {
  background: asset-data-url("AdobeStock_86321144_WM.jpeg") 50% 0 fixed;
  background-size: cover;
}

#home-landing_pages {
  background: asset-data-url("AdobeStock_79268169_WM.jpg") 50% 0 fixed;
  background-size: cover;
}

#about-landing_pages {
  background: url(images/about.png) 50% 0 fixed;
}

.landing-row {
  margin-bottom: 5em;
}

.get-started {
  color: rgb(35,119,186);

  &:hover {
    color: black;
  }
}
