@import "variables";

#intro-mixfeeds {
  background-color: #E9EAED;
}

#channel-filters {
  margin-bottom: 1em;
}

.avatar-thumb {
  width: 3em;
}

.grid-item {
  width: 522.5px;
  margin-left: 5px;
  margin-right: 5px;
}

.fb-video {
  height: 262px;
}
