@import "variables";

#intro-mixfeeds {
  background-color: #E9EAED;
}

#authorize-channel-buttons {
  margin-bottom: 1em;
}

.avatar-thumb {
  width: 3em;
}

.grid-item {
  width: 522.5px;
  margin-left: 5px;
  margin-right: 5px;
}

.fb-video {
  height: 262px;
}

.comment {
  margin: 0;
}

.well .comment-well {
  margin-top: 1em;
  padding: 0;
}

.comment-stats {
  position: relative;
}
