$facebook-blue: #3b5998;

$twitter-blue: #00aced;

$google-plus-red: #d34836;
$google-plus-gray: #2d2d2d;

$instagram-blue: #517fa4;

$pinterest-red: #cb2027;

$linkedin-blue: #007bb6;

$youtube-red: #bb0000;

$tumbler-blue: #32506d;
