<% if tweet.media? %>
  <div class="text-center">
    <% tweet.media.each do |object| %>
      <%= link_to image_tag(object.media_url, class: "share-media media-with-statistics"), "#{object.media_url}", 'data-lightbox': "tweet", 'data-title': "@#{tweet.user.screen_name}: #{tweet.text}" %>
    <% end %>
  </div>
<% end %>

<div class="message">
  <p><%= auto_link(tweet.text).html_safe %></p>
</div>
