<button type="button" name="twitter-timeline" class="btn btn-twitter social-feed" id="show-timeline">Show latest tweets <%= icon("caret-down") %></button>

<button type="button" name="twitter-timeline" class="btn btn-twitter social-feed collapse" id="hide-timeline">Hide <%= icon("caret-up") %></button>
