<div id="flash-container">
  <% if flash[:notice] %>
    <div class="notice alert alert-info" role="alert"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert alert alert-danger" role="alert"><%= flash[:alert] %></div>
  <% end %>
</div>
